@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

:root {
  --clr-primary: hsl(39, 77%, 47%);
  --clr-primary-500: hsl(39, 70%, 52%);
}

body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  width: 100%;
  margin: 0;
}

/* generic classes */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--clr-primary);
  color: #fff;
}

.btn-primary:hover {
  background-color: transparent;
  color: #333;
  border: 2px solid var(--clr-primary);
}

.btn-primary-outline {
  background-color: transparent;
  color: #333;
  border: 2px solid var(--clr-primary);
}

.btn-primary-outline:hover {
  background-color: var(--clr-primary);
  color: #fff;
}

/* element styles */

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
}

.grayband {
  width: 100%;
  height: 10px;
  background-color: rgb(221, 219, 219);
}

.main-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  box-shadow: 0 4px 2px -2px rgb(214, 214, 214);
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 100;
}

.header-ul {
  display: flex;
}

.header-li {
  list-style-type: none;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  align-items: center;
  margin: 0 10px 0 10px;
}

.header-li-item {
  font-weight: 700;
  text-decoration: none;
  color: black;
}

#logo {
  font-size: 28px;
  width: 160px;
  height: auto;
  margin-top: 8px;
  margin-right: 80px;
  color: rgb(30, 30, 30);
}

.signinBtn {
  color: #fff;
  background-color: var(--clr-primary);
  padding: 10px;
  border-radius: 3px;
}

#main {
  margin-top: 5rem;
}

#events-list {
  padding: 1.5rem;
  row-gap: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  margin-top: 0.75rem;
}

.card-like-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.like-button {
  color: var(--clr-primary);
  font-size: 20px;
  padding: 0;
  border: 0;
  outline: none;
  background: none;
  cursor: pointer;
  transition: 0.2s transform;
}

.like-button:hover {
  transform: scale(1.1);
}

.footer {
  width: 100%;
  box-shadow: 0 -2px 1px 1px rgb(214, 214, 214);
  background-color: white;
  text-align: center;
}

.footer-tag {
  text-decoration: none;
  color: black;
}

.footer-tag:hover {
  text-decoration: none;
  color: rgb(214, 149, 28);
}

/* modal (popup window */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  justify-content: center;
  left: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 50px 10px 10px 10px;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 520px;
  height: auto;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 0;
}

.card-preview-header {
  width: 505px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.popup-img-preview {
  margin: 10px;
}

.work-title-preview {
  margin: 10px;
}

.description-popup {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#comment-btn {
  background-color: rgb(214, 149, 28);
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.comment-list {
  padding-bottom: 20px;
}

.article-content {
  padding: 10px;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
